@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

html,
body {
    min-height: calc(100vh - 215px);
}

body {
    font-family: "Heebo", Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

label {
    font-size: small;
}

.little-screen {
    display: none;
}

@media screen and (min-width: 770px) {
    .middle {
        margin-left: 50px;
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 769px) {
    body {
        font-size: small;
    }

    .middle {
        margin-left: 0;
        width: 100%;
    }
}

.header {
    background-color: bisque;
    line-height: 32px;
    padding: 10px 25px;
    text-align: center;
    border-bottom: 3px solid chocolate;
    min-height: 97;
}

.header p {
    margin: 0;
}

.middle {
    padding: 25px 0;
    min-height: calc(100vh - 215px);

    transition: margin-left 0.25s, width 0.25s;
}

.footer {
    background-color: bisque;
    line-height: 22px;
    padding: 10px 25px;
    border-top: 3px solid chocolate;
    height: 22px;
    text-align: center;
}

.smooth {
    color: chocolate;
    font-weight: bold;
}

.question-container {
    margin-bottom: 20px;
}

.correct-answer {
    color: green;
}

.wrong-answer {
    color: red;
}

.tick {
    color: green;
    font-weight: bold;
    margin-left: 5px;
    font-size: small;
}

.cross {
    color: red;
    font-weight: bold;
    margin-left: 5px;
    font-size: small;
}

.question-container {
    padding: 10px;
    border: 1px solid sandybrown;
    border-radius: 10px;
    box-shadow: 2px 2px 5px saddlebrown;
}

a + .question-container {
    margin-top: 10px;
}

.question-container p:first-child {
    margin-top: 0;
    font-weight: bold;
}

#app {
    width: calc(100% - 50px);
    margin-left: 25px;
}

#result-box {
    width: calc(100% - 72px);
    margin-left: 25px;
    border: 1px solid greenyellow;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px green;
}

#result {
    margin: 10px 0 0 0;
}
